/*
COLORS

Primary: #1B65A7;
Primary light: #2077c6;
Primary dark: #12426e;

Grey light 1: #FFFFFF
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #040615;
Grey dark 2: #0c1240;
Grey dark 3: #141f6b;

*/

:root {
  --color-primary: #1b65a7;
  --color-primary-light: #2077c6;
  --color-primary-dark: #12426e;

  --color-grey-light-1: #ffffff;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #040615;
  --color-grey-dark-2: #0c1240;
  --color-grey-dark-3: #141f6b;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  --line: 1px solid var(--color-grey-light-2);
}

$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px

  @media only screen and (max-width: $bp-large) {
    font-size: 50%; // 1rem = 8px
  }
}

body {
  font-family: "Open-Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
}
